<%- include("template/cabecera", {tituloweb: 'Detalle de mascota', paginaActual:
'detalle'}) %>

<div class="container">
  <h1 class="display-5 mt-4 mb-4">Detalle Mascota</h1>
  <% if (error) { %>
  <p><%= mensaje %></p>

  <% } %> <% if (!error) { %>
  <form id="formularioEditar" data-id="<%= mascota.id %>">
    <input
      type="text"
      placeholder="Nombre"
      class="form-control my-2"
      name="nombre"
      value="<%= mascota.nombre %>"
      id="nombreInput"
    />
    <input
      type="text"
      placeholder="Descripción"
      class="form-control my-2"
      name="descripcion"
      value="<%= mascota.descripcion %>"
      id="descripcionInput"
    />
    <select name="ubicacionSelect" id="ubicacionSelect" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
      <option selected value="<%= mascota.ubicacion %>">Cambiar Ubicacion [ Actual: 
        
        <% sala.forEach(sala => { %>
         <% if (sala.codigo == mascota.ubicacion) { %>
          <%= sala.nombre %> 
         <% } %>
        <% }) %>
        
        ]</option>

      <% sala.forEach(sala => { %>

      <option value="<%= sala.codigo %> "><%= sala.nombre %> </option>
      <% }) %>
    </select>
 
    <select name="medicoAtiendeSelect" id="medicoAtiendeSelect" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
      <option selected value="<%= mascota.medicoAtiende %>">Cambiar Médico [ Actual: 
        
        <% persona.forEach(persona => { %>
         <% if (persona.cedula == mascota.medicoAtiende) { %>
          <%= persona.nombre %> 
         <% } %>
        <% }) %>
        
        ]</option>
      
      
      <% persona.forEach(persona => { %>

      <option value="<%= persona.cedula %> "><%= persona.nombre %> </option>
      <% }) %>
    </select>

    <input
      type="text"
      placeholder="Edad"
      class="form-control my-2"
      name="edad"
      value="<%= mascota.edad %>"
      id="edadInput"
    />
    <input
      type="text"
      placeholder="Motivo de Ingreso"
      class="form-control my-2"
      name="motivoIngreso"
      value="<%= mascota.motivoIngreso %>"
      id="motivoIngresoInput"
    />
    <input
    type="text"
    placeholder="Fecha de Ingreso"
    class="form-control my-2"
    name="fechaIngreso"
    value="<%= mascota.fechaIngreso %>"
    id="fechaIngresoInput"
  />

  <input
  type="text"
  placeholder="Fecha de Salida"
  class="form-control my-2"
  name="fechaSalida"
  value="<%= mascota.fechaSalida %>"
  id="fechaSalidaInput"
/>
    <button class="btn btn-warning w-100 mt-2" type="submit">
      Guardar Cambios
    </button>
  </form>
  <hr />
  <button
    class="btn btn-danger btn-sm mt-2 w-100"
    id="btnEliminar"
    data-id="<%= mascota.id %>"
  >
    Eliminar
  </button>
  <% } %>
  <a href="/mascotas" class="btn btn-outline-secondary mt-2 w-100">Cancelar</a>
 
</div>

<%- include("template/footer") %>

<script>
  const btnEliminar = document.querySelector("#btnEliminar");
  btnEliminar.addEventListener("click", async () => {
    console.log("me diste click");
    const id = btnEliminar.dataset.id;
    console.log("id", id);
    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: "delete",
      });
      const res = await data.json();

      if (res.estado) {
        window.location.href = "/mascotas";
      } else {
        console.log(res);
      }
    } catch (error) {
      console.log(error);
    }
  });
  const formularioEditar = document.querySelector("#formularioEditar");
  formularioEditar.addEventListener("submit", async (e) => {
    e.preventDefault();

    const nombre = formularioEditar.elements["nombre"].value;
    const descripcion = document.querySelector("#descripcionInput").value;
    const ubicacion = document.querySelector("#ubicacionSelect").value;
    const medicoAtiende = document.querySelector("#medicoAtiendeSelect").value;
    const edad = document.querySelector("#edadInput").value;
    const motivoIngreso = document.querySelector("#motivoIngresoInput").value;
    const fechaIngreso = document.querySelector("#fechaIngresoInput").value;
    const fechaSalida = document.querySelector("#fechaSalidaInput").value;
    const id = formularioEditar.dataset.id;

    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: "put",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ 
          nombre, 
          descripcion, 
          ubicacion, 
          medicoAtiende, 
          edad, 
          motivoIngreso,
          fechaIngreso,
          fechaSalida
        }),
      });
      const res = await data.json();
      //console.log(res);

      if (res.estado) {
        window.location.href = "/mascotas";
      } else {
        console.log(res);
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
