<%- include('template/cabecera',{tituloweb: 'Mascotas', paginaActual:
'mascotas'}) %>

<div class="container">
    <h1 class="display-5 mt-4" >Animales en atención</h1>
    <a class="btn btn-success btn-lg w-100 my-4" href="/mascotas/crear">
        Crear nueva Mascota
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Médico</th>
                <th scope="col">Edad</th>
                <th scope="col">Motivo Ingreso</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Fecha de salida</th>
                <th scope="col">Historia Clínica</th>
            </tr>
        </thead>
        <tbody>
            <% let medicoAtiende = 0;
            var options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12:"false"}; 
      if (arrayMascotas.length > 0) { %>
                <%
          arrayMascotas.forEach(mascota => { %>
                    <tr>
                        
                        <td><a href="/mascotas/<%= mascota.id %>" class="btn btn-primary w-100"><%= mascota.nombre %></a></td>
                        <td><%= mascota.descripcion %></td>
                        <td>
                            <% arraySalas.forEach(sala => { %>
                                <% if (sala.codigo == mascota.ubicacion) { %>
                                    <%= sala.nombre %>
                                <% } %>
                            <% }) %>
                        </td>
                        <td>
                            <% arrayPersonas.forEach(persona => { %>
                                <% if (persona.cedula == mascota.medicoAtiende) { %>
                                    <%= persona.nombre %>
                                <% } %>
                            <% }) %>
                        </td>
                        <td><%= mascota.edad %></td>
                        <td><%= mascota.motivoIngreso %></td>
                        <td>
                            <% if (mascota.fechaIngreso != null) { %>
                             <%= mascota.fechaIngreso.toLocaleDateString("es-ES", options) %> 
                            <% } %>

                        </td>
                        <td>
                            <% if (mascota.fechaSalida != null) { %>
                                <%= mascota.fechaSalida.toLocaleDateString("es-ES", options) %> 
                               <% } %>
                        </td>

                        <td>
                            <a href="/mascotas/historiaClinica/<%= mascota.id %>" class="btn btn-warning w-100">Ver</a>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('template/footer') %>
